.turno-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#contenedor-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
}

.boton {
  border: none;
  background: none;
  background-color: gray;
  color: white;
  height: 100%;
  font-size: medium;
  text-transform: uppercase;
  padding: .5rem;
  margin: 0 .5rem;
}

#contenedor-turno-personalizado {
  display: grid;
  grid-template-areas: 
  "h2 h2"
  "input button";
  grid-auto-columns: 1fr;

  border: 1px black solid;
}

#turno_personalizado_element {
  width: 50%;
}

#contenedor-turno-personalizado .boton {
  width: 50%;
}